<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-gamepad mb-2 fa-3x" aria-hidden="true"></i>
        <h3>Entertainment</h3>
        <p>Why spend your Sunday getting bored alone at home when you can have good times playing and chilling in a relaxing environment?</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-trophy mb-2 fa-3x"></i>
        <h3>Competition</h3>
        <p>Challenge the best FIFA players of Belgium and show what you are made of</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cart-plus mb-2 fa-3x"></i>
        <h3>Awards</h3>
        <p>If you are a skilled gamer able to show what you are worth, you may go home with a prize</p>
      </div>
    </div>
    </div>
  </div>
</section>
