<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are You Ready To Get Started?</h1>
          <p class="d-none d-md-block">A lot of people have already contacted us et signed up. Since the amount of authorized people is limited, do not wait and sign up quick if you want to participate in the forthcoming tournament!</p>
        </div>
      </div>
    </div>
  </div>
</section>
