<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Fifirst</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/enIndex" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="/enInscription" class="nav-link">Inscription</a>
        </li>

        <li class="nav-item">
          <a href="/enContact" class="nav-link">Contact</a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle btn btn-danger" data-toggle="dropdown">EN</a>
            <div class="dropdown-menu">
              <a href="/" class="dropdown-item">FR</a>
              <a href="/nlIndex" class="dropdown-item">NL</a>
            </div>
        </li>


      </ul>

    </div>
  </div>
</nav>
