<body>


  <div class="container my-5">

    <div class="card ">

      <div class="card-header">
        Inscription
      </div>


      <div class="card-body">
        <form class="" action="/confirmation" method="post">

        <div class="form-group">

          <label for="nom">Nom </label>
          <input class="form-control" id="name" type="text" name="nom_field" placeholder="Nom" required>
<br>
          <label for="prenom">Prenom </label>
          <input class="form-control" id="prenom" type="text" name="prenom_field" placeholder="Prenom" required>
<br>
          <label for="pseudo">Pseudo </label>
          <input class="form-control" id="pseudo" type="text" name="pseudo_field" placeholder="Pseudo" required>
<br>
          <label for="dateDeNaissance">Date de naissance </label>
          <input class="form-control" id="dateDeNaissance" type="text" name="dateDeNaissance_field" placeholder="Date de naissance" required>
<br>
          <label for="numTelephone">Numero de telephone </label>
          <input class="form-control" id="numTelephone" type="text" name="numTelephone_field" placeholder="Numero de telephone" required>
<br>
          <label for="email">Adresse email </label>
          <input class="form-control" id="email" type="text" name="email_field" placeholder="Adresse email" required>
          <small class="form-text text-muted">Your email will not be shared with anyone</small>
<br>
          <label for="modeDePaiment">Mode de paiment</label>
          <select class="form-control" id="modeDePaiment" >
          <option>Cash</option>
          <option>PayPal</option>
          </select>
          <small class="form-text text-muted">Les paiments en especes auront lieu a l'entree du tournoi</small>
<br>
          <input class="btn btn-primary btn-block" type="submit" value="Envoi">

        </div>

        </form>

      </div>

    </div>

  </div>



<!-- <div style="margin-top:500px;"></div> -->
