<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are You Ready To Get Started?</h1>
          <p class="d-none d-md-block">Beaucoup de personnes nous ont contacte et on demare l'inscription. Vu que le nombre de personnes autorises a participes est limite, inscrivez-vous sans plus tarder pour esperer avoir une place!</p>
        </div>
      </div>
    </div>
  </div>
</section>
