<!-- INFO SECTION -->
<section id="info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center">
        <h3>Questions</h3>
        <p>En cas de questions ou pour toutes informations supplémentaires, notre équipe se tient à votre disposition. N'hésitez pas à nous contacter par mail!</p>
        <a href="/contact" class="btn btn-primary btn-lg">Contact</a>
      </div>
      <!-- <div class="col-md-6">
        <img src="img/laptop.png" class="img-fluid" alt="">
      </div> -->
    </div>
  </div>
</section>
