<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-gamepad mb-2 fa-3x" aria-hidden="true"></i>
        <h3>Entertainment</h3>
        <p>Waarom zou je op uw zondag thuis zitten en vervelen terwijl je een goeie tijd kunt hebbem em kunt chillen in een relaxerende omgeving</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-trophy mb-2 fa-3x"></i>
        <h3>Competitie</h3>
        <p>Daag de beste FIFA spelers van België en laat uw talent zien</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cart-plus mb-2 fa-3x"></i>
        <h3>Prijzen</h3>
        <p>Als je een talentvolle gamer bent die je waarde kan laten zien, kan je naar huis gaan met een prijs</p>
      </div>
    </div>
    </div>
  </div>
</section>
