<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" title="Style" />
    <title>Fifirst</title>
</head>
<body>

  {{> enNavbar}}

  {{> enSliderReg}}



  <!-- ACCORDION -->
<div class="container my-5">

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
        Regles du Jeu
      </a></h5>
    </div>

    <div id="collapse1" class="collapse show">
      <div class="card-body">
        La console du tournoi est la Playstation 4 et le jeu est FIFA 18. Sur place, nous auront des manettes pour vous. Les personnes desirant venir avec leurs propres manettes peuvent le faire, mais elles doivent etre compatibles avec la Playstation 4.
  </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
        Deroulement du Tournoi
      </a></h5>
    </div>

    <div id="collapse2" class="collapse">
      <div class="card-body">
        Les tournois se deroulent habituellement le dimanche apres-midi. Ils commencent vers 13h et la finale devrait se derouler ver 20h. Les personnes selectionnes recevront les informations concernant la plage horaire dedie a leur premier match. Etant donne la forte afluence, nous serons intrensigent avec les retardataires. Non seulement vous serez elimine et votre adversaire gagnera par forfait et passera a la manche suivante. De plus, nous enregistrerons dans notre base le nom des personnes ayant manque a l'appel. Ainsi, ils ne pourront plus participer a de prochains tournois organises par Fifirst. Afin d'eviter ce genre de problemes, nous vous fournirons nos coordonnees afin de vous encourager a rester en contact avec nous et nous informer de tous problemes a l'avance.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
        Mode de Paiement
      </a></h5>
    </div>

    <div id="collapse3" class="collapse">
      <div class="card-body">
          Deux possiblites s'offrent a vous. Premierement, les personnes desirant eviter de payer en especes, pourront effectuer un virement via PayPal. Nous vous rappelons que ce site est securise et que les payments peuvent etre annules en cas de litige. Deuxiemement, si vous etes selectionnes, vous pouvez payer sur place avant de rentrer dans la salle ou l'evenement se deroule. Une fois que vous aurez payer, nous vous fourniront une preuve de payment. Notez que dans le prix d'inscription, est inclu un sandwich et une boisson.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
        Recompenses
      </a></h5>
    </div>

    <div id="collapse4" class="collapse">
      <div class="card-body">
        Le gagnant du tournoi doit gagner chacun de ces matchs a elimination directe. Pour cela, il devra remporter 5 matchs.Les prix sont repartis de la facon suivante :
          <ul>
            <li>Premier: 1000€</li>
            <li>Deuxieme: 250€</li>
            <li>Troisieme et Quatrieme: 50€</li>
          </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
        Securite
      </a></h5>
    </div>

    <div id="collapse5" class="collapse">
      <div class="card-body">
        Le tournoi se deroulera dans un ambiance detendue. Ainsi, nous esperons que chacun viendra dans un etat d'esprit positif. Nous voulons simplement vous fournir un cadre dans lequel vous pourrez vous amuser et remporter un prix. Dans cette optique, nous ne tolererons aucun ecart. -->
     </div>
    </div>
  </div>
</div>
</div>

</div>



  {{> footer}}




  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
