<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" title="Style" />
    <title>Fifirst</title>
</head>
<body>

  {{> enNavbar}}

  {{> enSliderReg}}



  <!-- ACCORDION -->
<div class="container my-5">

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
        Rules of the Game
      </a></h5>
    </div>

    <div id="collapse1" class="collapse show">
      <div class="card-body">
        The FIFA 18 games will be played upon the Playstation 4. We will provide controllers. People desiring coming with their own controllers can do it, but they need to make sure that they are compatible with the Playstation 4.
    </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
        Tournament Logistics
      </a></h5>
    </div>

    <div id="collapse2" class="collapse">
      <div class="card-body">
        <p>The tournaments usually take place on Sunday afternoons. They start around 1 P.M. and the finales should take place at about 8 P.M. The persons that will be selcted will receive informations regarding the time schedules and about when their first game will take place.</p><p> Given the amount of players, we will be strict with late people. First, you will be eliminated and your opponent will win the game and pass to the next stage. Then, we will register the name of the players that failed to show up. These players will not be allowed to sign up for forthcoming tournaments oragnized by Fifirst.</p><p> In order to avoid these sort of problems, you will get our contact details. It is strongly suggested that you keep in contact and inform us about any problems in advance.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
        Method of Payment
      </a></h5>
    </div>

    <div id="collapse3" class="collapse">
      <div class="card-body">
        <p> Two possiblities are offered to you. First, people desiring avoid paying in cash can send us the money on our PayPal account. We remind you that PayPal is a highly securised mean to pay and that the transactions can be cancelled in case of problem. Secondly, if you are selected, you will also be able to pay the day of the tournament before entering the event</p><p> Once you will have paid, you will by provided a receipt. Note that a sandwich and a drink is included in the inscription fee.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
        Awards
      </a></h5>
    </div>

    <div id="collapse4" class="collapse">
      <div class="card-body">
        The winner of the tournament must win each of his knock-out games. To do so, a player will have to win 5 matches. The prizes will be awarded as follows :
          <ul>
            <li>First: 1000€</li>
            <li>Second: 250€</li>
            <li>Third and Fourth: 50€</li>
          </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
        Security
      </a></h5>
    </div>

    <div id="collapse5" class="collapse">
      <div class="card-body">
        The goal is that we all have a good time in a good environment. Therefore, we hope that each player will come with this state of mind. We are just trying to offer your an event that allows you to have fun and win prizes. With this in mind, our security team will not tolerate any troublemakers.
     </div>
    </div>
  </div>
</div>
</div>

</div>



  {{> footer}}




  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
