<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" title="Style" />
    <title>Fifirst</title>
    {{> googleTracker}}
</head>
<body>

  {{> navbar}}

  {{> sliderReg}}



  <!-- ACCORDION -->
<div class="container my-5">

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
        Règles du Jeu
      </a></h5>
    </div>

    <div id="collapse1" class="collapse show">
      <div class="card-body">
        La console du tournoi est la Playstation 4 et le jeu est FIFA 18. Sur place, nous aurons des manettes pour vous. Les personnes desirant venir avec leurs propres manettes peuvent le faire, mais elles doivent être compatibles avec la Playstation 4.
  </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
        Déroulement du Tournoi
      </a></h5>
    </div>

    <div id="collapse2" class="collapse">
      <div class="card-body">
        <p>Les tournois se deroulent habituellement le dimanche après-midi. Ils commencent vers 13h et la finale devrait se derouler vers 20h. Les personnes selectionnées recevront les informations concernant la plage horaire dediée à leur premier match.</p><p> Etant donné la forte affluence, nous serons intransigeant avec les retardataires.Tout d'abord, vous serez eliminé et votre adversaire gagnera par forfait, passant ainsi à la manche suivante. De plus, nous enregistrerons dans notre base de données le nom des personnes ayant manqué à l'appel. Ainsi, ils ne pourront plus participer à de prochains tournois organisés par Fifirst.</p><p> Dans le but d'éviter ce genre de problèmes, nous vous fournirons nos coordonnées de sorte à vous encouragez à rester en contact avec nous et nous informer de tous problèmes éventuels à l'avance.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
        Mode de Paiement
      </a></h5>
    </div>

    <div id="collapse3" class="collapse">
      <div class="card-body">
          <p>Deux possibilités s'offrent à vous. Premièrement, les personnes desirant éviter de payer en espèces, pourront effectuer un virement sur notre compte PayPal. Nous vous rappelons que ce site est securisé et que les paiements peuvent être annulés en cas de litige. Deuxièmement, si vous êtes sélectionné, vous pourrez payer sur place, avant de rentrer dans la salle où l'événement se déroule.</p><p> Une fois que vous aurez payé, nous vous fournirons une preuve de paiement. Notez que le prix d'inscription inclut un sandwich et une boisson.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
        Récompenses
      </a></h5>
    </div>

    <div id="collapse4" class="collapse">
      <div class="card-body">
        Pour remporter le tournoi, un compétiteur doit gagner chacun de ces matchs à élimination directe. Pour cela, il devra remporter 7 matchs. Les prix sont répartis de la façon suivante :
          <ul>
            <li>Premier: 1000€</li>
            <li>Deuxieme: 250€</li>
            <li>Troisieme et Quatrieme: 50€</li>
          </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading">
      <h5 class="mb-0"><a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
        Sécurité
      </a></h5>
    </div>

    <div id="collapse5" class="collapse">
      <div class="card-body">
        Le tournoi se déroulera dans un ambiance détendue. Ainsi, nous espérons que chacun viendra dans un état d'esprit positif. Nous voulons simplement vous fournir un cadre dans lequel vous pourrez vous amuser et remporter un prix. Dans cette optique, la sécurité ne tolérera aucun écart.
     </div>
    </div>
  </div>
</div>
</div>

</div>



  {{> footer}}




  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
